body {
    background-color:	#303030;
    
}
h1 {
    color: #ffb900;
    text-align: center;
    text-shadow: #ffd7aa 0px 0px 10px;
}
h2 {
    color: #ffb900;
    text-align: center;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #ffd7aa;
    text-align: left;
}
ul {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #f5c6c6;
    text-align: left;
}
hr {
    border: 1px solid #ffd7aa;
}
a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
div {
    background-color: #161616;
    padding: 2%;
    text-align: center;
    margin: auto;
    width: max-content;
    height: max-content;
    border: 5px solid #ffb900;
}