body {
    background-color:	#303030;
    margin: 0%;
}

article {
    margin: 5%
}

hr {
    border: 0.1vw solid #ffd7aa;
    margin: 0%;
    padding: 0%;
}

h1 {
    color: #ffb900;
    font-family: system-ui;
    text-align: center;
    font-size: 5vw;
}

h2 {
    color: #ffb900;
    font-family: system-ui;
    text-align: center;
    font-size: 4vw;
}

p {
    font-family: system-ui;
    font-size: 2.5vw;
    color: #ffd7aa;
    text-align: left;
}

ul {
    font-family: system-ui;
    font-size: 2.5vw;
    color: #f5c6c6;
    text-align: left;
}

hr {
    border: 0.1vw solid #ffd7aa;
    margin: 0%;
    padding: 0%;
}

a {
    color: #ffffff;
    font-family: system-ui;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: #ffffff;
    font-family: system-ui;
    font-size: 2.5vw;
    background-color: transparent;
    text-decoration: none;
}

nav {
    margin: 0%;
}

a img {
    border: 0;
    width: 2.5vw;
    height: auto;
}

iframe {
    border: 1vw solid #ffd7aa;
    border-radius: 0.2vw;
    background-color: #161616;
    padding: 0%;
    margin: 2%;
    width: 95%;
    overflow: hidden;
    height: 100%;
}

nav div {
    background-color: #161616;
    padding: 2%;
    height: max-content;
    border: 1vw solid #ffd7aa;
}

body div {
    padding: 2%;
}

.navbar {
    overflow: hidden;
    width: 100%;
    background-color: #292929;
    font-family: system-ui;
    font-size: 2.5vw;
    text-decoration: none;
    border: none;
}

.navbar a {
    padding: 1.5vw;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f48517;
}

footer p {
    color: #ffffff;
    font-family: system-ui;
    font-size: 2.5vw;
    text-align: center;
    padding: 2%;
    margin: 0%;
    border: none;
}